<form action="/insert_item" method="post">

<h1>Add a new item</h1>

  <div>
    <label for="link">
      Link URL 
    </label>

    <input id="link" text="text" name="link_url" placeholder="Enter a URL...">
  </div>

  <div>
    <label for="description">
      Link Description 
    </label>

    <input id="description" text="text" name="description" placeholder="Enter a link description...">
  </div>

  <div>
    <label for="thumbnail">
      Thumbnail URL 
    </label>

    <input id="thumbnail" text="text" name="thumbnail" placeholder="Enter a thumbnail URL...">
  </div>

  <button>
    Create item
  </button>


</form>
